@import "/src/styles/colors";

.toggle-button {
    border: 1px solid;
    text-align: center;
    min-width: 60px;
    font-size: 13px;
    font-weight: bold;
    padding: 0 8px;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: -1px;
    // Default Theme
    color: $black;
    border-color: $black;
    background: $white;

    &.primary {
        border-color: $primary;
        color: $primary;

        &.on {
            background: $primary;
            color: $white;
        }
    }

    &.secondary {
        border-color: $secondary;
        color: $secondary;

        &.on {
            background: $secondary;
            color: $white;
        }
    }
}