// Design Colors
$white: #fff;
$black: #4a4a4a;
$gray: #f0f0f0;
$light-gray: #eee;
$pink: #b358c3;
$purple: #6a1b9a;
$navy: #12296d;
$seafoam: #419bb7;
$sky: #cee5ec;

// UI Colors
$primary: $purple;
$primary-accent: $pink;

$secondary: $navy;

$tertiary: $seafoam;
$tertiary-accent: $sky;

$text-gray: $black;
$background-gray: $gray;

$default-shadow: 0px 1px 2px 1px rgb(0 0 0 / 9%);